<h1>Hi, <%= @user.first_name %></h1>
<p>We are sending you this email to remind you that <%= @event.name %> is coming soon!</p>
<p>Date: <%= @event.event_date %></p>
<p><%= link_to "Your event", @url %></p>
<p>Thank you for using our service!</p>
