<div class="text-center m-auto mb-8">
  <h1>
    <%= t('user.welcome', user: user.user_name) %>
  </h1>
  <p><%= t('user.future_events', count: user.future_events_count) %></p>
  <p><%= t('user.today_events', count: user.today_events_count) %></p>
</div>
