.field {
    margin-bottom: 15px;
}

.alert-notice {
    background: #a2e2bd;
}

.alert-alert {
    background: #e97177;
}

.confirmation,
.edit-page,
.sign-up,
.sign-in,
.unlock,
.edit-password,
.new-password {
    border-radius: 30px;
}