<div class="row d-flex justify-content-center align-items-center p-4">
  <h1 class="text-center">Category</h1>
  <div class="col-2">
    <h2 class="text-center"><%= @category.name %></h2>
    <div class=" d-flex align-items-center justify-content-center">
      <%= link_to "Edit", edit_category_path(@category),class: "btn btn-primary me-2" %>
      <%= button_to "Delete", category_path(@category), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
